# etl
requests
backoff
pandas
pyarrow
openpyxl==3.1.0 # https://stackoverflow.com/questions/75471318/readonlyworksheet-object-has-no-attribute-defined-names
duckdb

# app
streamlit
plotly

# lint
flake8-use-fstring
flake8-bugbear
flake8-bandit
flake8-annotations